@import url("https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Scope+One|Nunito+Sans");
/** FONTS **/
/** COLORS **/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

label {
  margin: 0 1rem;
}

input {
  margin: 0.5rem;
  min-width: 3rem;
  border: 0;
  border-bottom: solid 1px;
}
input:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
  margin: 0.4rem 0;
}

button {
  outline: none;
  border: 0;
  font-weight: inherit;
}

i {
  margin: 0 0.2rem;
}
